{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% if article.headerImage %}{{ article.headerImage }}{% else %}{{ asset('bundles/clean-blog/img/post-bg.jpg') }}{% endif %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ article.title|title }}</h1>
                        <h2 class="subheading">{{ article.summary }}</h2>
                        <span class="meta">Publié par 
                            <a href="#">{{ article.author }}</a> le 
                            {{ article.publishedAt|date("d/m/Y") }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{ parent() }}

    <a class="btn btn-success pull-right" href="{{ path('article_update', {'id': article.id}) }}">Modifier cet article</a>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ article.content|purify }}
                </div>
            </div>
        </div>
    </article>
{% endblock %}
